:root {
    --white: #fff;
    --red: #e50914;
    --grey: #b3b3b3;
    --dark-grey: #444;
    --light-grey: #555;
    --shadow-black: rgba(0, 0, 0, 0.9);
    --orange: #e87c03;
}

html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: var(--shadow-black);
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/02dd3f21-2c34-4989-a48b-827dd9edc446/6fd9c935-5097-4045-9e29-4e1028a6c1fb/PL-pl-20190422-popsignuptwoweeks-perspective_alpha_website_large.jpg);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.login-register-section__form {
    max-width: 15%;
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    padding: 2rem 5rem;
    background-color: var(--shadow-black);
}

.login-register-section__title {
    color: var(--white);
    margin-bottom: 1rem;
    white-space: nowrap;
}

.login-register-section__input {
    padding: 1rem;
    margin-bottom: 0.7rem;
    border-radius: 5px;
    color: var(--white);
    background-color: var(--dark-grey);
    border: 1px solid var(--dark-grey);
}

.login-register-section__input::placeholder {
    color: var(--white);
    font-size: 14px;
}

.login-register-section__input:focus {
    color: var(--white);
    background: var(--light-grey);
}

.login-register-section__input:invalid:focus {
    border-bottom: 2px solid var(--orange);
}

.login-register-section__label {
    color: var(--white);
    font-size: 20px;
    margin-bottom: 0.5rem;
}

.login-register-section__button {
    margin-top: 3rem;
    padding: 1rem;
    background: var(--red);
    white-space: nowrap;
    border-radius: 5px;
    font-weight: bold;
    border: 1px solid var(--red);
    font-size: 14px;
    color: var(--white);
    text-align: center;
}

.login-register-section__button:hover {
    cursor: pointer;
}

.login-register-section__no-account {
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    color: var(--grey);
}

.login-register-section__no-account-description {
    text-align: center;
}

.login-register-section__registration-link {
    margin-top: 0.5rem;
    text-decoration: none;
    color: var(--white);
    text-align: center;
}
.home__wrapper {
    color: var(--white);
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--shadow-black);
    font-size: 48px;
}
.home-wrapper-upper-section__animation {
    padding: 5rem;
    text-align: center;
    letter-spacing: 0.1rem;
}
.home-wrapper-upper-section-button__wrapper {
    display: flex;
    justify-content: center;
}
.home-button {
    margin: 3rem auto;
    padding: 1rem;
    background: var(--red);
    white-space: nowrap;
    border-radius: 5px;
    font-weight: bold;
    border: 1px solid var(--red);
    font-size: 26px;
    color: var(--white);
    text-align: center;
}
.home-button:hover {
    cursor: pointer;
    box-shadow: 1px 1px 19px 7px var(--red);
}
.home-lower-section-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    border-radius: 2%;
    background: rgba(50, 0, 0, 0.5);
    margin-top: 65%;
    margin-bottom: 10rem;
}
.home-lower-section-movie-container {
    display: grid;
    grid-template-columns: repeat(5, 10rem);
    grid-template-rows: repeat(3, 10rem);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding: 3rem;
    justify-content: center;
}
.home-lower-section-movie-container__element {
    display: flex;
    transition: box-shadow 0.3s ease-in-out;
    transition: all 0.2s ease-in-out;
    font-size: 28px;
    color: var(--orange);
    letter-spacing: 0.1rem;
    align-items: flex-end;
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 2px 30px;
}
.home-lower-section-movie-container__element:hover {
    box-shadow: 1px 1px 100px 7px var(--red);
    cursor: pointer;
    -webkit-animation: movie-hover-animation 300ms;
    -moz-animation: movie-hover-animation 300ms;
    animation: movie-hover-animation 300ms;
    animation-fill-mode: forwards;
}

.home-lower-section-movie-container__element--choosen {
    -webkit-animation: fadein 500ms ease-in alternate infinite;
    -moz-animation: fadein 500ms ease-in alternate infinite;
    animation: fadein 500ms ease-in alternate infinite;
}
.home-lower-section-button__wrapper {
    display: flex;
    justify-content: center;
}
.home-lower-section-wrapper__movies-with-arrows {
    display: flex;
    width: 100%;
    justify-content: center;
}
.home-lower-section-movie-container__arrow-icon {
    cursor: pointer;
    vertical-align: middle;
}
.home-lower-section-movie-container__arrow-icon:hover {
    -webkit-animation: arrow-animation 500ms;
    -moz-animation: arrow-animation 500ms;
    animation: arrow-animation 500ms;
    animation-fill-mode: forwards;
}
.home-lower-section-movie-container__arrow--previous {
    padding-left: 1rem;
}
.home-lower-section-movie-container__arrow--next {
    padding-right: 1rem;
}
.home-lower-section-movie-container__arrow {
    display: flex;
    justify-content: center;
    font-size: 70px;
    color: var(--white);
    height: 100%;
    width: 100%;
    align-items: center;
}
@-webkit-keyframes fadein {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-moz-keyframes fadein {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadein {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@-webkit-keyframes arrow-animation {
    0% {
        color: var(--white);
    }
    100% {
        color: var(--red);
    }
}
@-moz-keyframes arrow-animation {
    0% {
        color: var(--white);
    }
    100% {
        color: var(--red);
    }
}
@keyframes arrow-animation {
    0% {
        color: var(--white);
    }
    100% {
        color: var(--red);
    }
}
@keyframes movie-hover-animation {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
    }
}
@media screen and (max-width: 800px) {
    .login-register-section {
        display: flex;
        justify-content: center;
    }

    .login-register-section__form {
        min-width: 80%;
        margin: 0;
    }

    .login-register-section__button {
        white-space: unset;
    }
}

@media screen and (max-width: 250px) {
    .login-register-section__title {
        font-size: 16px;
    }

    .login-register-section__label {
        font-size: 14px;
    }

    .login-register-section__input::placeholder {
        font-size: 12px;
    }

    .login-register-section__no-account-description {
        font-size: 12px;
    }

    .login-register-section__registration-link {
        font-size: 12px;
    }
}
